<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soprj.sharedone_prj.mapper.order.OrderMapper">

    <select id="buyerSelect" resultType="com.soprj.sharedone_prj.domain.buyer.BuyerDto">
        SELECT m_buyer_id,
               m_buyer_name
        FROM m_buyer
    </select>
    <select id="buyerList" resultType="com.soprj.sharedone_prj.domain.buyer.BuyerDto">
        SELECT  m_buyer_region,
                m_buyer_address,
                m_buyer_number,
                m_buyer_currency
        FROM m_buyer
        WHERE m_buyer_id = #{m_Buyer_Id}
    </select>
    <select id="itemSelect" resultType="com.soprj.sharedone_prj.domain.item.ItemDto">
        SELECT  m_item_id,
                m_item_name
        FROM m_item
    </select>
    <select id="itemList" resultType="com.soprj.sharedone_prj.domain.item.ItemDto">
        SELECT  i.m_item_name,
                i.m_item_group,
                i.m_item_manufacturer,
                p.m_price_lastPrice
        FROM m_item i JOIN m_price p ON i.m_item_id = p.m_item_id
        WHERE i.m_item_id = #{m_item_id}
    </select>
</mapper>