<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soprj.sharedone_prj.mapper.order.OrderMapper">

    <select id="buyerSelect" resultType="com.soprj.sharedone_prj.domain.buyer.BuyerDto">
        SELECT m_buyer_id,
              m_buyer_name
        FROM m_buyer
    </select>
    <select id="buyerList" resultType="com.soprj.sharedone_prj.domain.buyer.BuyerDto">
        SELECT m_buyer_region,
                m_buyer_address,
                m_buyer_number
        FROM m_buyer
        WHERE m_buyer_id = #{m_Buyer_Id}
    </select>
    <select id="itemSelect" resultType="com.soprj.sharedone_prj.domain.item.ItemDto">
        SELECT m_item_id,
                m_item_name
        FROM m_item
    </select>
    <select id="priceByitem" resultType="com.soprj.sharedone_prj.domain.item.ItemDto">
        SELECT m_price_currency
                m_price_discount
                m_price_lastPrice
        FROM m_item join m_price ON m_item_id = m_price_id
        WHERE m_item_id = #{m_item_id}
    </select>
</mapper>