<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soprj.sharedone_prj.mapper.item.ItemMapper">

    <insert id="register">
        <selectKey keyProperty="m_item_id" order="BEFORE" resultType="String">
            SELECT id FROM m_item_seq ORDER BY id DESC LIMIT 1
        </selectKey>
        INSERT INTO m_item (
            m_item_id,
            m_item_group,
            m_item_manufacturer,
            m_item_name,
            m_item_unit
        )
        VALUES (
            CONCAT (
                LEFT(#{m_item_group},2),
                LEFT(#{m_item_manufacturer},2),
                LPAD(#{m_item_id},4,'0')
            ),
            #{m_item_group},
            #{m_item_manufacturer},
            #{m_item_name},
            #{m_item_unit}
        )
    </insert>

    <insert id="registerId">
        INSERT INTO m_item (
            m_item_id,
        )
        SELECT CONCAT (
            m_item_id,
            MAX(m_item_number+1)
        FROM
            m_item
    </insert>

    <select id="selectItemList" resultType="com.soprj.sharedone_prj.domain.item.ItemDto">
        SELECT
            m_item_id,
            m_item_group,
            m_item_manufacturer,
            m_item_name,
            m_item_unit
        FROM m_item
        WHERE (
        <trim prefixOverrides="OR">
            <if test="type == 'all' or type == 'itemId'">
                OR m_item_id LIKE #{keyword}
            </if>

            <if test="type == 'all' or type == 'itemGroup'">
                OR m_item_group LIKE #{keyword}
            </if>

            <if test="type == 'all' or type == 'itemManufacturer'">
                OR m_item_manufacturer LIKE #{keyword}
            </if>

            <if test="type == 'all' or type == 'itemName'">
                OR m_item_name LIKE #{keyword}
            </if>
        </trim>
            )
            AND m_item_active LIKE 1
        ORDER BY m_item_inserted DESC
        LIMIT #{offset}, #{records}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM m_item
        WHERE (
        <trim prefixOverrides="OR">
            <if test="type == 'all' or type == 'itemId'">
                OR m_item_id LIKE #{keyword}
            </if>

            <if test="type == 'all' or type == 'itemGroup'">
                OR m_item_group LIKE #{keyword}
            </if>

            <if test="type == 'all' or type == 'itemManufacturer'">
                OR m_item_manufacturer LIKE #{keyword}
            </if>

            <if test="type == 'all' or type == 'itemName'">
                OR m_item_name LIKE #{keyword}
            </if>
        </trim>
        )
        AND m_item_active LIKE 1
    </select>

    <select id="select" resultType="com.soprj.sharedone_prj.domain.item.ItemDto">
        SELECT
            m_item_id,
            m_item_group,
            m_item_manufacturer,
            m_item_name,
            m_item_unit
        FROM
            m_item
        WHERE
            m_item_id = #{m_item_id}
    </select>

    <update id="update">
        UPDATE
            m_item
        SET
            m_item_id = CONCAT (
                LEFT(#{m_item_group},2),
                LEFT(#{m_item_manufacturer},2),
                LPAD(#{m_item_id},4,'0')
                ),
            m_item_group = #{m_item_group},
            m_item_manufacturer = #{m_item_manufacturer},
            m_item_name = #{m_item_name},
            m_item_unit = #{m_item_unit}
        WHERE
            m_item_id = #{m_item_id}
    </update>

    <delete id="remove">
        UPDATE
            m_item
        SET
            m_item_active = 0
        WHERE
            m_item_id = #{m_item_id}
    </delete>

    <select id="selectGroup" resultType="com.soprj.sharedone_prj.domain.item.ItemDto">
        SELECT DISTINCT
            m_item_group
        FROM
            m_item
        ORDER BY m_item_group DESC
    </select>

    <select id="selectManufacturer" resultType="String">
        SELECT DISTINCT
            m_item_manufacturer
        FROM
            m_item
        WHERE
            m_item_group = #{m_item_group}
        ORDER BY m_item_manufacturer DESC
    </select>

    <select id="itemCompare" resultType="int">
        SELECT
            COUNT(1) AS CNT
        FROM
            m_item
        WHERE
            1=1
        AND m_item_group = #{m_item_group}
        AND m_item_manufacturer = #{m_item_manufacturer}
        AND m_item_name = #{m_item_name}
        AND m_item_unit = #{m_item_unit}
    </select>
</mapper>