<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soprj.sharedone_prj.mapper.price.PriceMapper">

    <select id="getPriceList" resultType="com.soprj.sharedone_prj.domain.price.PriceDto">
        SELECT
            m_buyer_id,
            m_item_id,
            m_price_id,
            m_price_price,
            m_price_unit,
            m_price_discount,
            m_price_startPeriod,
            m_price_lastPeriod,
            m_price_lastPrice,
            m_price_inserted
        FROM m_price
        ORDER BY m_price_id DESC;
    </select>

    <insert id="insertRegister" useGeneratedKeys="true" keyProperty="m_price_id">
        INSERT INTO m_price (
        m_price_startPeriod,
        m_price_lastPeriod,
        m_price_unit,
        m_price_discount,
        m_price_lastPrice,
        m_price_price,
        m_price_inserted,
        m_buyer_id,
        m_item_id
        )
        VALUES (
        #{m_price_startPeriod},
        #{m_price_lastPeriod},
        #{m_price_unit},
        #{m_price_discount},
        #{m_price_lastPrice},
        #{m_price_price},
        NOW(),
        #{m_buyer_id},
        #{m_item_id}
        )
    </insert>
</mapper>